<div class="p-15 ">
    <h1 class="text-center py-8 text-blue-600 text-6xl font-medium">Linked Posts</h1>
   
    <form [formGroup]="myChamgePass" (ngSubmit)="formSubmit()"  class="w-3/4 mx-auto p-12 bg-white rounded-lg">
        <h1 class="text-blue-700 font-bold py-3 ps-2 text-xl">Change Password</h1>
    
        <div class="mb-5">
          <input formControlName="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type your password" required />

          @if (myChamgePass.get('password')?.errors && myChamgePass.get('password')?.touched) {
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <div>
                  @if (myChamgePass.get('password')?.errors?.['required']) {
                    <span class="font-medium">password is required!</span>
                  }
                  @else if (myChamgePass.get('password')?.errors?.['pattern']) {
                    <span class="font-medium">kindly enter valid password</span>
                  }
                  
                </div>
              </div>
        }
        </div>

        <div class="mb-5">
            <input formControlName="newPassword" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type your new password" required />
  
            @if (myChamgePass.get('newPassword')?.errors && myChamgePass.get('newPassword')?.touched) {
              <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <div>
                    @if (myChamgePass.get('newPassword')?.errors?.['required']) {
                      <span class="font-medium">New password is required!</span>
                    }
                    @else if (myChamgePass.get('newPassword')?.errors?.['pattern']) {
                      <span class="font-medium">kindly enter valid password</span>
                    }
                    
                  </div>
                </div>
          }
          </div>
    
        <button [disabled]="myChamgePass.invalid" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit
        </button>
      </form>
</div>